<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38759696161-g0snb91elhpsj3r6psq668k3s0lkfubk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38759696161-g0snb91elhpsj3r6psq668k3s0lkfubk</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pMWfXLD0omp1U5iPR98OOXe_D0i2Qn8</string>
	<key>GCM_SENDER_ID</key>
	<string>38759696161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shankar.shankypankyhanky.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-6b9ce</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-6b9ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:38759696161:ios:c69ac70f457aad8b</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-6b9ce.firebaseio.com</string>
</dict>
</plist>